{% extends 'base.html' %}

{% block h1 %}
    Add New Pet
{% endblock %}

{% block content %}
<div class="row justify-content-center border rounded shadow bg-white">
    <div class="col-lg-8 p-3">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="fomr-group mb-3">
                {{field.label}}
                {{field(class_="form-control")}}

                {% for error in field.errors %}
                    <small class="form-text text-danger">
                        {{error}}
                    </small>
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-info">Add Pet</button>
            <a href="/" class="btn btn-warning">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}