{% extends 'base.html' %}

{% block title %}
    Pets R Us {{pet.name}}
{% endblock %}

{% block h1 %}
    Get to know {{pet.name}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row bg-white pt-3">
        <div class="col-3">
            <img src="{{pet.photo_url}}" alt="" class="img-fluid border" id="profile_pic">
        </div>
        <div class="col-2 col-lg-3">
            <a href="/pets/{{pet.id}}/edit"><button class="btn btn-secondary btn-lg">Edit</button></a>
        </div>
    </div>
</div>
<div class="container bg-white">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: {{pet.name}}</li>
        <li class="list-group-item">Species: {{pet.species}}</li>
        <li class="list-group-item">Age: {{pet.age}}</li>
        <li class="list-group-item">About me: {{pet.notes}}</li>
        <li class="list-group-item">
            {% if pet.available %}
            Status: <strong class="text-success">Available</strong>
            {% else %}
            Status: <strong class="text-warning">Recently Adopted</strong>
            {% endif %}
        </li>
    </ul>
</div>


{% endblock %}